@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #210A21;
  color: #fff;
  font-size: 0.8rem;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.logo {
  height: 40px;
  margin: 2rem 4rem;
}

a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  margin-inline-end: 0.75em;
}

.active {
  border-bottom: 2px solid white;
  font-weight: 600;
  width: fit-content;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.social-links {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 3rem;

  a {
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
  }

  &::after {
    display: block;
    content: "";
    border-top: .1rem solid #fff;
    width: 4rem;
    margin: 2rem -0.6rem;
    transform: rotate(90deg);
  }
}
