@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #210A21;
  color: #fff;
  font-size: 0.8rem;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.logo {
  height: 40px;
  margin: 2rem;
}

a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  margin-inline-end: 0.75em;
}