@import "_base";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-toggle{
    display: none;
  }

  .navlinks {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;

  }
}

@media (max-width: 35em) {
  .navbar {
    z-index: 1000;
    .navlinks {
      // display: none;
      position: fixed;
      inset: 0 0 0 30%;
      flex-direction: column;
      padding: min(30vh, 10rem) 4em;
      background: hsl(0 0% 0% /0.75);
      gap: 3rem;
    }
    .nav-toggle{
      display: block;
      position: absolute;
      z-index: 9999;
      top: 2rem;
      color: #fff;
      background: transparent;
      border: none;
      aspect-ratio: 1;
      right: 2rem;
      font-size: 24px;
    }

    @supports (backdrop-filter: blur(2rem)) {
      .navlinks {
        background: hsl(0 0% 100% /0.07);
        backdrop-filter: blur(2rem);
      }
    }
  }
}