@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: #210a21; */
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1022%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(33%2c 10%2c 33%2c 1)'%3e%3c/rect%3e%3cpath d='M1098.925901987005 415.5856311727645L1002.8815242378168 393.41203941402915 980.7079324790816 489.4564171632174 1076.7523102282698 511.6300089219527z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M323.845%2c352.587C355.622%2c352%2c383.118%2c331.419%2c397.885%2c303.276C411.646%2c277.052%2c408.477%2c245.857%2c393.146%2c220.519C378.383%2c196.121%2c352.349%2c180.069%2c323.845%2c180.914C296.64%2c181.72%2c275.829%2c201.404%2c261.313%2c224.427C245.439%2c249.603%2c231.859%2c279.354%2c244.91%2c306.103C259.261%2c335.517%2c291.123%2c353.192%2c323.845%2c352.587' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1511.7743995226344 150.53169720002467L1514.3424915163616 3.4058054151249166 1364.6485077377347 147.9636052062974z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M712.65 204.34 a124.99 124.99 0 1 0 249.98 0 a124.99 124.99 0 1 0 -249.98 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M178.475%2c199.947C209.099%2c197.561%2c234.103%2c179.352%2c250.922%2c153.649C269.986%2c124.514%2c288.101%2c88.729%2c271.151%2c58.316C253.942%2c27.439%2c213.758%2c21.501%2c178.475%2c23.661C147.33%2c25.568%2c120.841%2c42.589%2c103.572%2c68.577C83.765%2c98.383%2c65.699%2c135.61%2c83.425%2c166.699C101.244%2c197.952%2c142.608%2c202.741%2c178.475%2c199.947' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M299.4700688642397 481.60906148758534L274.86451171897147 374.5653593716875 203.51272115434264 438.81080016397175z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M136.15992690584358 468.6819653963459L37.207400042836724 388.551789098383 56.02975060788063 567.6344922593528z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1413.3686853713311 361.8031107096888L1499.7271099519928 242.94093643649262 1380.8649356787967 156.58251185583092 1294.506511098135 275.4446861290271z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M565.86 553.69 a169.9 169.9 0 1 0 339.8 0 a169.9 169.9 0 1 0 -339.8 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M673.304412358106-101.23288732264379L591.8255902850182 15.130930012732037 708.1894076203939 96.6097520858199 789.6682296934819-19.754065249555936z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1022'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1080' preserveAspectRatio='none' viewBox='0 0 1440 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1019%26quot%3b)' fill='none'%3e%3crect width='1440' height='1080' x='0' y='0' fill='rgba(33%2c 10%2c 33%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c437.568C80.094%2c417.442%2c153.91%2c391.047%2c228.409%2c355.411C313.834%2c314.549%2c411.859%2c289.994%2c467.973%2c213.716C529.097%2c130.628%2c561.981%2c23.407%2c547.813%2c-78.764C533.619%2c-181.123%2c468.685%2c-270.573%2c391.318%2c-339.079C319.582%2c-402.598%2c221.275%2c-414.289%2c131.394%2c-447.488C33.801%2c-483.536%2c-61.064%2c-576.772%2c-159.279%2c-542.455C-258.23%2c-507.881%2c-268.245%2c-370.676%2c-330.269%2c-286.18C-385.744%2c-210.606%2c-479.606%2c-162.952%2c-504.249%2c-72.5C-530.001%2c22.022%2c-497.168%2c119.969%2c-466.249%2c212.929C-432.206%2c315.279%2c-413.561%2c445.491%2c-316.388%2c492.309C-217.973%2c539.725%2c-105.948%2c464.191%2c0%2c437.568' fill='%23150715'%3e%3c/path%3e%3cpath d='M1440 1641.758C1542.162 1664.2930000000001 1633.45 1574.52 1721.512 1518.041 1809.652 1461.512 1915.7930000000001 1412.037 1951.6 1313.6399999999999 1986.979 1216.42 1930.818 1113.356 1905.26 1013.106 1882.473 923.7239999999999 1878.24 821.511 1810.245 759.181 1743.796 698.268 1642.997 706.476 1554.149 691.246 1475.847 677.8240000000001 1400.505 670.923 1321.184 675.35 1219.534 681.024 1105.924 658.446 1025.412 720.758 942.387 785.015 894.547 897.3 898.871 1002.197 903.032 1103.137 984.044 1180.676 1047.608 1259.199 1097.903 1321.331 1171.155 1353.467 1228.392 1409.269 1304.975 1483.933 1335.554 1618.719 1440 1641.758' fill='%232d0e2d'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1019'%3e%3crect width='1440' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  color: #fff;
  background-repeat: no-repeat;
  font-size: 0.8rem;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.logo {
  height: 40px;
}

a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  margin-inline-end: 0.75em;
}

.active {
  border-bottom: 2px solid white;
  font-weight: 600;
  width: fit-content;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.social-links {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 3rem;
}
.social-links a {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
}
.social-links::after {
  display: block;
  content: "";
  border-top: 0.1rem solid #fff;
  width: 4rem;
  margin: 2rem -0.6rem;
  transform: rotate(90deg);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem 0 3.4rem;
  flex-wrap: nowrap;
  height: 100px;
}
.navbar .nav-toggle {
  display: none;
}
.navbar .navlinks {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.home {
  height: 100%;
  position: relative;
}
.home .hero {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  align-items: center;
}
.home .hero main {
  margin: 2rem 4rem;
  margin-top: -6rem;
}
.home .hero main .role {
  font-weight: 600;
  font-size: 2.81rem;
  line-height: 1.0625;
  font-weight: 600;
  letter-spacing: -0.01em;
}
.home .hero main p {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 1.38105;
}
.home .hero main .stack .item {
  margin: 0.25rem 2rem 0.25rem 0;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
.home .hero aside img {
  width: fit-content;
  height: calc(100vh - 110px);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
  margin: 2rem;
  padding: 1rem;
}
.cards .card {
  max-width: 500px;
  height: 200px;
  box-shadow: 0 3px 15px rgba(94, 84, 84, 0.2);
  padding: 1rem;
  border-radius: 8px;
  position: relative;
  transition: 0.7s linear;
}
.cards .card:hover {
  transform: translateY(-5px);
  background-image: linear-gradient(
    to right,
    #210a21,
    #2c0d2d,
    #390e39,
    #460f46,
    #530e53
  );
}
.cards .card .card-title {
  text-align: center;
  text-transform: uppercase;
}
.cards .card .card-content .description {
  text-align: center;
  padding: 0 1rem;
}
.cards .card .card-content .stack {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.cards .card .card-content .cta-buttons a {
  font-size: 18px;
  position: absolute;
}
.cards .card .card-content .cta-buttons .github-link {
  left: 1rem;
  bottom: 0.5rem;
}
.cards .card .card-content .cta-buttons .app-link {
  right: 1rem;
  bottom: 0.5rem;
}

@media (max-width: 35em) {
  .social-links {
    position: unset;
    flex-direction: row;
    align-items: center;
    bottom: 0;
    margin: 0 1rem;
  }
  .social-links a {
    padding: 0.4rem;
    font-size: 1rem;
  }
  .social-links::after {
    width: 8rem;
    margin: 1rem 0.5rem;
    transform: rotate(0deg);
  }

  .home .hero {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .home .hero main {
    margin: 0rem;
    padding: 1rem;
  }
  .home .hero main .role {
    font-size: 2rem;
  }
  .home .hero aside img {
    border-radius: 50%;
    width: 100%;
    height: 400px;
  }

  .navbar {
    z-index: 1000;
    padding: 0 1rem;
  }
  .navbar .navlinks {
    visibility: hidden;
    position: fixed;
    inset: 0 0 0 40%;
    flex-direction: column;
    padding: min(30vh, 10rem) 4em;
    background: hsla(0deg, 0%, 0%, 0.75);
    gap: 3rem;
    transform: translateX(100%);
    z-index: 9;
    transition: transform 350ms ease-out;
  }
  .navbar .sr-only {
    visibility: unset;
    transform: translateX(0%);
  }
  .navbar .nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    top: 2rem;
    color: #fff;
    background: transparent;
    border: none;
    aspect-ratio: 1;
    right: 2rem;
    font-size: 24px;
  }
  @supports (backdrop-filter: blur(2rem)) {
    .navbar .navlinks {
      background: hsla(0deg, 0%, 100%, 0.07);
      backdrop-filter: blur(2rem);
    }
  }

  .cards {
    grid-template-columns: repeat(1, 1fr);
    margin: 2rem 0;
  }
}
