@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #210A21;
  color: #fff;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.logo {
  height: 40px;
  padding: 2rem 4rem;
}

a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  margin-inline-end: 0.75em;
}

.active {
  border-bottom: 2px solid white;
  font-weight: 600;
  width: fit-content;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.social-links {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 3rem;
}
.social-links a {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
}
.social-links::after {
  display: block;
  content: "";
  border-top: 0.1rem solid #fff;
  width: 4rem;
  margin: 2rem -0.6rem;
  transform: rotate(90deg);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.5rem;
  flex-wrap: nowrap;
}
.navbar .nav-toggle {
  display: none;
}
.navbar .navlinks {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.home {
  max-height: 100vh;
  position: relative;
}
.home .hero {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  align-items: center;
}
.home .hero main {
  margin: 2rem 4rem;
  margin-top: -6rem;
}
.home .hero main .role {
  font-weight: 600;
  font-size: 2.81rem;
  line-height: 1.0625;
  font-weight: 600;
  letter-spacing: -0.01em;
}
.home .hero main p {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 1.38105;
}
.home .hero main .stack .item {
  margin: 0.25rem 2rem 0.25rem 0;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
.home .hero aside img {
  width: fit-content;
  height: calc(100vh - 110px);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
  margin: 2rem;
  padding: 1rem;
}
.cards .card {
  max-width: 500px;
  height: 200px;
  box-shadow: 0 3px 15px rgba(94, 84, 84, 0.2);
  padding: 1rem;
  border-radius: 8px;
  position: relative;
  transition: 0.7s linear;
}
.cards .card:hover {
  transform: translateY(-5px);
  background-image: linear-gradient(to right, #210a21, #2c0d2d, #390e39, #460f46, #530e53);
}
.cards .card .card-title {
  text-align: center;
  text-transform: uppercase;
}
.cards .card .card-content .description {
  text-align: center;
  padding: 0 1rem;
}
.cards .card .card-content .stack {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.cards .card .card-content .cta-buttons a {
  font-size: 18px;
  position: absolute;
}
.cards .card .card-content .cta-buttons .github-link {
  left: 1rem;
  bottom: 0.5rem;
}
.cards .card .card-content .cta-buttons .app-link {
  right: 1rem;
  bottom: 0.5rem;
}

@media (max-width: 35em) {
  .logo {
    padding: 2rem;
  }

  .social-links {
    position: unset;
    flex-direction: row;
    align-items: center;
    bottom: 0;
    margin: 0 1rem;
  }
  .social-links a {
    padding: 0.4rem;
    font-size: 1rem;
  }
  .social-links::after {
    width: 8rem;
    margin: 1rem 0.5rem;
    transform: rotate(0deg);
  }

  .home .hero {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .home .hero main {
    margin: 0rem;
    padding: 1rem;
  }
  .home .hero main .role {
    font-size: 2rem;
  }
  .home .hero aside img {
    border-radius: 50%;
    width: 100%;
    height: 400px;
  }

  .navbar {
    z-index: 1000;
    padding-right: 1rem;
  }
  .navbar .navlinks {
    visibility: hidden;
    position: fixed;
    inset: 0 0 0 40%;
    flex-direction: column;
    padding: min(30vh, 10rem) 4em;
    background: hsla(0deg, 0%, 0%, 0.75);
    gap: 3rem;
    transform: translateX(100%);
    z-index: 9;
    transition: transform 350ms ease-out;
  }
  .navbar .sr-only {
    visibility: unset;
    transform: translateX(0%);
  }
  .navbar .nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    top: 2rem;
    color: #fff;
    background: transparent;
    border: none;
    aspect-ratio: 1;
    right: 2rem;
    font-size: 24px;
  }
  @supports (backdrop-filter: blur(2rem)) {
    .navbar .navlinks {
      background: hsla(0deg, 0%, 100%, 0.07);
      backdrop-filter: blur(2rem);
    }
  }

  .cards {
    grid-template-columns: repeat(1, 1fr);
    margin: 2rem 0;
  }
}