@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #210A21;
  color: #fff;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.logo {
  height: 40px;
  margin: 2rem;
}

a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  margin-inline-end: 0.75em;
}

.home {
  max-height: 100vh;
}
.home .hero {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}
.home .hero main {
  margin: 2rem;
  margin-top: -6rem;
}
.home .hero main h1 {
  font-weight: 600;
  font-size: 54px;
  line-height: 1.0625;
  font-weight: 600;
  letter-spacing: -0.01em;
}
.home .hero main p {
  font-weight: 400;
  font-size: 21px;
  letter-spacing: -0.01em;
  line-height: 1.38105;
}
.home .hero aside img {
  width: fit-content;
  height: calc(100vh - 110px);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .nav-toggle {
  display: none;
}
.navbar .navlinks {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

@media (max-width: 35em) {
  .home .hero {
    flex-direction: column-reverse;
  }
  .home .hero main {
    margin-top: 0rem;
  }
  .home .hero main h1 {
    font-size: 40px;
  }
  .home .hero aside img {
    border-radius: 50%;
    width: 100%;
    height: 400px;
  }

  .navbar {
    z-index: 1000;
  }
  .navbar .navlinks {
    visibility: hidden;
    position: fixed;
    inset: 0 0 0 40%;
    flex-direction: column;
    padding: min(30vh, 10rem) 4em;
    background: rgba(0, 0, 0, 0.75);
    gap: 3rem;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }
  .navbar .sr-only {
    visibility: unset;
    transform: translateX(0%);
  }
  .navbar .nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    top: 2rem;
    color: #fff;
    background: transparent;
    border: none;
    aspect-ratio: 1;
    right: 2rem;
    font-size: 24px;
  }
  @supports (backdrop-filter: blur(2rem)) {
    .navbar .navlinks {
      background: rgba(255, 255, 255, 0.07);
      backdrop-filter: blur(2rem);
    }
  }
}